<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/secured/">Secure</a></li>
                <% if(!isAuthenticated) { %>
                <li><a href="/login/">Login</a></li>
                <% } else { %>
                <li><a href="/logout/">Logout</a></li>
                <% } %>
            </ul>
        </nav>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <img src="<%= user.picture %>"/>
        <pre><%= JSON.stringify(user,null,2)%></pre>
    </body>
</html>